body {
    font-family: Roboto-Regular !important;
    background-color: #2b2b2a;
}

.top, .bottom {
    height: 50vh;
}

.top {
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.loginContainer {
    position: sticky;
    top: 20%;
}

h3 {
    color: #013475;
    font-size: 24px;
}

h4 {
    color: #0a345e;
    font-size: 18px;
}

.loginbox {
    border: 1px solid #FFF;
    border-radius: 10px;
    width: 450px;
    background: mintcream;
    padding: 20px;
    -webkit-box-shadow: 0 0 10px #e8e8e8;
    box-shadow: 0 0 10px #e8e8e8;
}

label {
    color: #a39fa0;
    font-weight: 700;
    font-size: 14px !important;
}

