@using Microsoft.AspNetCore.Mvc.Localization
@using RazorPagesExample.Localization
@inject IHtmlLocalizer<SharedResources> Localizer

@{
    ViewData["Title"] = @Localizer["Home"];
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Welcome"]</h1>
    <p>@Localizer["HomePageText"]</p>
</div>
