<!DOCTYPE html>
<html lang="en">
<head>

    <!-- META -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- TITLE -->
    <title>@ViewData["Title"] - RazorPagesExample</title>

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- STYLES -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RazorPagesExample.WEB.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.28/dist/sweetalert2.min.css" rel="stylesheet">

    <!-- SCRIPTS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/modal.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.28/dist/sweetalert2.all.min.js"></script>
 

    @await RenderSectionAsync("Scripts", required: false)



    <title>@ViewData["Title"] - RazorPagesExample.WEB</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RazorPagesExample.WEB.styles.css" asp-append-version="true" />
</head>

<body>
    <div id="PageContainer" class="page-container">
        <partial name="_Header" />
        <div class="content">
            <div class="container-fluid">
                <partial name="_Title" />
                <div class="clearfix"></div>
                @RenderBody()
            </div>
        </div>
    </div>
    <partial name="_ScriptsToRun" />
    <partial name="_ModalView" />
</body>
</html>

<script>
    function ShowError(errorMessage, errorText) {
        Swal.fire({
            title: errorMessage,
            text: errorText,
            showConfirmButton: false,
            timer: 2500,
            icon: 'error',
        });
    }

    function ShowSuccess(successMessage) {
        Swal.fire({
            text: successMessage,
            showConfirmButton: false,
            timer: 2500,
            icon: 'success',
        });
    }
</script>
