
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalHeader" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="ModalContent" class="modal-content">
            <!-- Modal content goes here (id:ModalContent)-->
            <div id="ModalContent" class="modal-content"></div>
        </div>
    </div>
</div>